* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(71, 133, 250);
    background-image: url('g2foss_logo_white.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

.menu ul li a::after {
    content: "|";
    margin-left: 10px;
}

.menu ul li:last-child a::after {
    content: "";
}

.photo {
    text-align: center;
    margin-top: 0px;
}

.photo img {
    max-width: 100%;
    height: fit-content;
}

.about {
    padding: 30px;
    margin-top: -20px;
    background: rgb(184, 182, 182);
}

.about h2 {
    text-align: left;
    margin-bottom: 10px;
}

.title-line {
    border: 1px solid black;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-image {
    margin-bottom: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-text {
    padding: 20px 20;
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
}

.line {
    border-top: 2px solid #ffffff;
    margin: 15px 0;
}

.our-events {
    background-color: #ffffff;
    padding: 20px;
}

.our-events h2 {
    text-align: left;
    margin-bottom: 10px;
}

.events-content {}

.event-photo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-photo h3 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.event-photo img {
    max-width: 30%;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
    vertical-align: top;
}

.event-photo p {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact {
    background-color: rgb(184, 182, 182);
    padding: 20px;
}

.contact h2 {
    text-align: left;
    margin-bottom: 10px;
}

.title-line {
    border: 1px solid black;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #141416;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.social-links {
    background-color: rgb(71, 133, 250);
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 16px;
}

.social-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #45a049;
}

.thanks-section {
    background-color: rgb(184, 182, 182);
    text-align: center;
    padding: 20px;
}

.thanks-section p {
    color: rgb(71, 133, 250);
    font-size: 17px;
}

.top-button {
    position: fixed;
    bottom: 16px;
    right: 20px;
}

.top-button a {
    text-decoration: underline;
    color: rgb(71, 133, 250);
    font-weight: bold;
}

.top-button a:hover {
    text-decoration: none;
}

